<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width />
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="normalize" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="main-navbar">
        <div class="contenedor-logo">
          <div>
            <img src="/images/logo-mercado-liebre.svg" />
          </div>
          <div>
            <input placeholder="Buscar productos, marcas " />
            <i class="fas fa-search"></i>
          </div>
        </div>
        <div class="contenedor-subtitulo">
          <div>
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div>
            <h3 class="subtituloCompra">
              Compra en cuotas y sin tajeta de credito
            </h3>
          </div>
        </div>
        <div class="nav-main">
          <div class="elementos-nav">
            <ul>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </div>
          <div class="elementos-nav">
            <ul>
              <li>
                <a href="">Crear Cuenta</a> <i class="far fa-address-card"></i>
              </li>
              <li><a href="">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
              <li>
                <a href="">Mis Compras</a><i class="fas fa-shopping-basket"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="contenedor-burger">
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div>
        <img src="/images/img-home-banner.jpg" alt="img-home-banner" />
      </div>

      <section>
        <h3>Basado en tu última visita</h3>
        <div class="contenedor-body">
          <div class="conteiner-clave">
            <div>
              <img src="/images/img-cafetera-moulinex.jpg" />
            </div>
            <div class="conteiner">
              <br />
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <div class="contenedor-info">
                  <div class="precios"><span class="precios">$6.770</span></div>
                  <div class="contenedor-descuento">
                    <span class="DescuentoDescripcion">40% OFF</span>
                  </div>
                </div>
                <div class="contenedor-descripcion">
                  <span class="Descripcion">Cafetera Moulinex</span>
                </div>
              </div>
            </div>
          </div>

          <div class="conteiner-clave">
            <img src="/images/img-macbook-pro-2019.jpg" /><br />
            <div class="conteiner">
              <br />
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <span class="precios">$230.000</span><br />
                <span class="DescuentoDescripcion">20% OFF</span><br />
                <span class="Descripcion">McBook Pro 2019</span><br />
              </div>
            </div>
          </div>

          <div class="conteiner-clave">
            <img src="/images/img-samsung-galaxy-s10.jpg" /><br />
            <div class="conteiner">
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <span class="precios">$70.500</span><br />
                <span class="DescuentoDescripcion">10% OFF</span><br />
                <span class="Descripcion">sAMSUNG gALAXY S10</span><br />
              </div>
            </div>
          </div>

          <div class="conteiner-clave">
            <img src="/images/img-tv-samsung-smart.jpg" /><br />
            <div class="conteiner">
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <span class="precios">$23.200</span><br />
                <span class="DescuentoDescripcion">5% OFF</span><br />
                <span class="Descripcion">SmartTv Samsung 43"</span><br />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ofertas">
        <h3>Ofertas</h3>
        <div class="contenedor-body">
          <div class="conteiner-clave">
            <div>
              <img src="/images/img-cafetera-moulinex.jpg" />
            </div>
            <div class="conteiner">
              <br />
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <div class="contenedor-info">
                  <div class="precios"><span class="precios">$6.770</span></div>
                  <div class="contenedor-descuento">
                    <span class="DescuentoDescripcion">40% OFF</span>
                  </div>
                </div>
                <div class="contenedor-descripcion">
                  <span class="Descripcion">Cafetera Moulinex</span>
                </div>
              </div>
            </div>
          </div>

          <div class="conteiner-clave">
            <img src="/images/img-macbook-pro-2019.jpg" /><br />
            <div class="conteiner">
              <br />
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <span class="precios">$230.000</span><br />
                <span class="DescuentoDescripcion">20% OFF</span><br />
                <span class="Descripcion">McBook Pro 2019</span><br />
              </div>
            </div>
          </div>

          <div class="conteiner-clave">
            <img src="/images/img-samsung-galaxy-s10.jpg" /><br />
            <div class="conteiner">
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <span class="precios">$70.500</span><br />
                <span class="DescuentoDescripcion">10% OFF</span><br />
                <span class="Descripcion">sAMSUNG gALAXY S10</span><br />
              </div>
            </div>
          </div>

          <div class="conteiner-clave">
            <img src="/images/img-tv-samsung-smart.jpg" /><br />
            <div class="conteiner">
              <div class="contenedor-ofertas">
                <div class="camioncito"><i class="fas fa-truck"></i></div>
                <span class="precios">$23.200</span><br />
                <span class="DescuentoDescripcion">5% OFF</span><br />
                <span class="Descripcion">SmartTv Samsung 43"</span><br />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <i class="fas fa-credit-card"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <i class="fas fa-gift"></i>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <i class="fas fa-user-shield"></i>
      <h3>Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>

      <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
